<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>BI</title>
	<meta charset="UTF-8">
	<title>BI</title>

	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		{
			float: left;
			width: 250px;
			height: 50px;
			border: 1px solid #F00
		}

		ul,
		li {
			list-style: none;
		}

		.box {
			width: 600px;
			margin: 20px auto;
			float: left;
		}

		.hide {
			display: none;
		}

		#head {
			height: 30px;
			border-bottom: 1px solid blue;
		}

		#head li {
			float: left;
			width: 100px;
			height: 24px;
			line-height: 24px;
			margin: 0 4px;
			text-align: center;
			border: 1px solid blue;
			border-bottom: none;
			background-color: #f5f5f5;
			cursor: pointer;
		}

		#box2 {
			border: 1px;
			margin: 20px;
			border-top: none;
			padding: 20px;
			float: left
		}

		#head .working {
			position: relative;
			height: 25px;
			margin-bottom: -1px;
			background-color: #fff;
		}
	</style>



	<script type="text/javascript">
        window.onload = function() {
            var hNode = document.getElementsByTagName("li");
            var info = document.getElementById("box2").getElementsByTagName("div");
            for(var i = 0; i < hNode.length; i++) {
                hNode[i].index = i;
                hNode[i].onmousemove = function() {
                    for(var j = 0; j < hNode.length; j++) {
                        hNode[j].className = "";
                        info[j].className = "hide"
                    }
                    hNode[this.index].className = "working";
                    info[this.index].className = "";
                }
            }
        }
	</script>
	<!--搜索-->
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link href="" rel="stylesheet">
	<style type="text/css">
		#search {
			width: 80px;
			height: 32px;
			/*float: right;*/
			background: deepskyblue;
			color: white;
			text-align: center;
			line-height: 32px;
			cursor: pointer;
		}
	</style>


	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/jedate.min.js"></script>
	<!--<link rel="stylesheet" href="../plugins/bootstrap/css/jeDate-test.css">-->
	<link rel="stylesheet" href="../plugins/bootstrap/css/jedate.css">
	<link href="../plugins/bootstrap/fonts/glyphicons-halflings-regular.woff">
	<script src="../plugins/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>


	<script src="../js/jquery.min.js"></script>
	<!--bootstrap插件-->
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
	<script src="../bootstrap/js/bootstrap.js"></script>
	<!--vue插件-->
	<script src="../js/axios-0.18.0.js"></script>
	<script src="../js/vuejs-2.5.16.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini" >
<h3 class="m-b-none">全服增量留存率</h3>
<br />

<!--下拉选择  默认25-->
<div class="col-md-12 column">
	显示
	<select>
		<option value="10">10</option>
		<option value="25" selected="selected">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	</select>项结果
</div>
<div class="box" id="app">

	<ul id="head">
		<li class="working">新增账户留存</li>
		<li>激活设备留存</li>

	</ul>
	<br />
	<!--时间-->
	<span class="datetxt">日期：</span><input type="text"class="dateinput dateicon" id="inpstart"  ng-model="searchEntity.log_ymd"readonly>
	<span class="datetxt"> - </span><input type="text" class="dateinput dateicon" id="inpend" readonly>
	<script type="text/javascript">
        var start = {},
            end = {};
        jeDate('#inpstart', {
            format: 'YYYY-MM-DD ',
            minDate: '2014-06-16 ', //设定最小日期为当前日期
            maxDate: function(that) {
                //that 指向实例对象
                return jeDate.valText(that.valCell) == "" ? jeDate.nowDate({
                    DD: 0
                }) : start.maxDate;
            }, //设定最大日期为当前日期
            donefun: function(obj) {
                end.minDate = obj.val; //开始日选好后，重置结束日的最小日期
                jeDate("#inpend", LinkageEndDate(false));
            }
        });
        jeDate('#inpend', LinkageEndDate);

        function LinkageEndDate(istg) {
            return {
                trigger: istg || "click",
                format: 'YYYY-MM-DD ',
                minDate: function(that) {
                    //that 指向实例对象
                    var nowMinDate = jeDate.valText('#inpstart') == "" && jeDate.valText(that.valCell) == "";
                    return nowMinDate ? jeDate.nowDate({
                        DD: 0
                    }) : end.minDate;
                }, //设定最小日期为当前日期
                maxDate: '2099-06-16 ', //设定最大日期为当前日期
                donefun: function(obj) {
                    start.maxDate = obj.val; //将结束日的初始值设定为开始日的最大日期
                }
            };
        }
	</script>
	<select>
		<option value="大区1益玩" selected="selected">大区1益玩</option>
		<option value="大区2硬核">大区2硬核</option>
	</select>
	<button class="btn btn-default" ng-click="reloadList()" type="button" value="搜索">搜索</button>
	<br />
	<br />
	<div id="box2" >
		<div>
			<!--数据列表-->

			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-bordered table-hover table-condensed"  >
							<thead>
							<tr>
								<th>日期</th>
								<th nowrap="nowrap">注册数</th>
								<th nowrap="nowrap">首次创角数</th>
								<th>2日</th>
								<th>3日</th>
								<th>4日</th>
								<th>5日</th>
								<th>6日</th>
								<th>7日</th>
								<th>14日</th>
								<th>21日</th>
								<th>30日</th>
								<th>60日</th>
								<th>90日</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="result in biResultList">
								<td>{{result.log_ymd}}</td>
								<td>{{result.register}}</td>
								<td>{{result.first_role}}</td>
								<td>{{result.day_2}}</td>
								<td>{{result.day_3}}</td>
								<td>{{result.day_4}}</td>
								<td>{{result.day_5}}</td>
								<td>{{result.day_6}}</td>
								<td>{{result.day_7}}</td>
								<td>{{result.day_14}}</td>
								<td>{{result.day_21}}</td>
								<td>{{result.day_30}}</td>
								<td>{{result.day_60}}</td>
								<td>{{result.day_90}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 分页 -->
		<!--	<tm-pagination conf="paginationConf"></tm-pagination>-->
			<br>
		</div>
		<div class="hide">
			暂时为空<br>
		</div>
	</div>
</div>

<!-- 数据表格 /-->
<!-- 分页 -->
<script src="../js/biResult.js"></script>
<tm-pagination conf="paginationConf"></tm-pagination>
</body>
</html>